<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Gestion d'expédition de colis</title>
      <link rel="stylesheet" href="/css/connexion.css">
</head>
<body>
      <div class="container">
            <div class="not-found">
                  <h1 id="page-not-found">404</h1>
                  <p id="page-not-found-p">Page introuvable</p>
                  <a href="/" id="page-not-found-link">Retour connexion</a>
            </div>
      </div>
</body>
</html>
