<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Pannel d'administration</title>
      <link rel="stylesheet" href="/css/style.css">
</head>
<body>
      <section>
            <div class="sliderBar">
                  <div class="slider-title">
                        <h1>GExpédition</h1>
                        <span><%= email %></span>
                  </div>
                  <hr>
                  <div class="sliderElement">
                        <ul>
                              <li><a href="/dashbord">Tableau de bord</a></li>
                              <li><a href="/client">Clients</a></li>
                              <li><a href="/commande">Commandes</a></li>
                              <li><a href="/expedition">Expéditions</a></li>
                              <li><a href="/transporteur" class="active">Transporteur</a></li>
                              <li><a href="#">Analyses</a></li>
                              <li><a href="/rapport">Rapports</a></li>
                              <li><a href="/utilisateur">Utilisateurs</a></li>
                        </ul>
                  </div>
            </div>
      </section>
      
      <section>
            <div class="main">
                  <header>
                        <div class="menu-element">
                              <div class="menu"></div>
                              <div class="menu1"></div>
                        </div>
                        <div class="btn-group">
                              <a href="/deconnexion">Déconnexion</a>
                        </div>
                  </header>
                  <div class="main-container">
                        <div class="main-table">
                              <form class="form" action="/transporteur/ajout" method="POST">
                                    <% if (erreur_tp){ %>
                                          <p class="error"><%= erreur_tp %></p>
                                    <% } %>
                                    <% if (succes_tp){ %>
                                          <p class="succes"><%= succes_tp %></p>
                                    <% } %>
                                    <h3>Nouveau transporteur</h3>
                                    <input type="text" name="nom" id="" placeholder="Nom et prénom">
                                    <input type="tel" name="tel" id="" placeholder="Numéro de téléphone">
                                    <input type="text" name="adresse" id="" placeholder="Adresse ou ville">
                                    <input type="submit" value="Ajouter">
                              </form>
                        </div>
                  </div>
                
            </div>
      </section>

      <script src="/js/script.js"></script>
</body>
</html>