<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Gestion d'expédition de colis</title>
      <link rel="stylesheet" href="connexion.css">
</head>
<body>
      <div class="container">
            <form action="#">
                  <h1>Nouveau mot de passe</h1>
                  <hr>
                  <div class="form-element">
                        <input type="password" name="" id="" placeholder="Votre nouveau mot de passe">
                        <input type="password" name="" id="" placeholder="Confirmer votre mot de passe">
                        <input type="button" id="btn_submit" value="Connexion">
                  </div>
                  <hr>
                  <div class="link">
                        <a href="#">Rétour connexion</a><a href="#">Créer un compte !</a>
                  </div>
                  <!-- <p class="Error">Saisies obligatoires !</p> -->
            </form>
      </div>
</body>
</html>
