<!DOCTYPE html>
<html lang="en">
    <head>        
        <title>Gestion d'expédition de colis</title>            
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        
        <link rel="stylesheet" type="text/css" id="theme" href="/css/theme-default.css"/>  
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
            *{
                
                font-family: nunito, sans-serif;
            }
        </style>           
    </head>
    <body>

        <div class="page-content">
            
           
            <ul class="x-navigation x-navigation-horizontal x-navigation-panel">
                <li class="xn-icon-button pull-right">
                    <a href="/deconnexion"><span class="fa fa-sign-out"></span></a>                        
                </li> 
            </ul>
            
            <div class="page-title">                    
                <h2><span class="fa fa-edit"></span>Détail du rapport</h2>
            </div>
          
            <div class="page-content-wrap">                
            
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <form action="#" method="POST" class="form-horizontal">
                                <div class="form-group">
                                    <h3>Type de rapport : <%= detail[0].type_rapport %></h3>
                                    <h3>Auteur : <%= detail[0].nom %></h3>
                                    <h3>Date : <%= detail[0].date_rapport.toLocaleDateString() %></h3>
                                </div>
                                <div class="form-group">
                                        <textarea name="contenu" class="form-control" style="resize: none; width: 100%; height: 200px;" disabled ><%= detail[0].contenu %></textarea>
                                </div>
                                
                            </form>
                            <div class="py-4"><br>
                              <a href="/rapport" class="btn btn-danger">Retour</a>
                              <button class="btn btn-success">Imprimer</button>
                          </div>
                        </div>
                       
                    </div>                   
                </div>
            </div>                              
        </div>            
                         

        
   
        <script type="text/javascript" src="/js/plugins/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/js/plugins/jquery/jquery-ui.min.js"></script>
        <script type="text/javascript" src="/js/plugins/bootstrap/bootstrap.min.js"></script>
          
        <script type='text/javascript' src='/js/plugins/icheck/icheck.min.js'></script>
        <script type="text/javascript" src="/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>        
        
        <script type="text/javascript" src="/js/plugins/codemirror/codemirror.js"></script>        
        <script type='text/javascript' src="/js/plugins/codemirror/mode/htmlmixed/htmlmixed.js"></script>
        <script type='text/javascript' src="/js/plugins/codemirror/mode/xml/xml.js"></script>
        <script type='text/javascript' src="/js/plugins/codemirror/mode/javascript/javascript.js"></script>
        <script type='text/javascript' src="/js/plugins/codemirror/mode/css/css.js"></script>
        <script type='text/javascript' src="/js/plugins/codemirror/mode/clike/clike.js"></script>
        <script type='text/javascript' src="/js/plugins/codemirror/mode/php/php.js"></script>    

        <script type="text/javascript" src="/js/plugins/summernote/summernote.js"></script>
       
        
        <script type="text/javascript" src="/js/plugins.js"></script>        
        <script type="text/javascript" src="/js/actions.js"></script>        
      
    </body>
</html>






