<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Gestion d'expédition de colis</title>
      <link rel="stylesheet" href="/css/connexion.css">
</head>
<body>
      <div class="container">
            <form action="#" style="height: 230px;">
                  <h1> Message de succès</h1>
                  <hr>
                  <div class="form-element-success">
                       <p>Requêtte envoyée, vous recevrez un lien dans votre boîte de messagérie de email pour la réinitialisation de mot de passe</p>
                        <a href="/">Ok</a>
                  </div>
            </form>
      </div>
</body>
</html>
